/* Add CSS Styling */
.odd {
    background-color: lightcoral;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.twenty-four {
    font-size: 24px;
}

#second {
    color: blue;
    font-size: 36px;
}

#fourth {
    background-color: green;
    font-weight: bold;
}